/* Default styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6a32c9;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  z-index: 10;
  font-family: 'Inter';
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 170px; /* Adjust as needed */
  height: auto;
}

.navbar-links {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end; /* Align links to the right */
}

.navbar-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 14px;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 24px; /* Adjust font size as needed */
  color: white;
}

/* Media queries for responsiveness */

/* Extra large screens (>= 1440px) */
@media (min-width: 1440px) {
  .navbar-links {
    margin-left: auto; /* Push the links to the far right */
  }
}

/* Large screens (>= 1200px and < 1440px) */
@media (min-width: 1200px) and (max-width: 1439px) {
  .navbar-links {
    margin-left: auto; /* Push the links to the far right */
  }

  .navbar-links a {
    margin: 0 20px;
    font-size: 16px;
  }

  .logo {
    width: 160px; /* Adjust as needed */
    height: auto;
  }
}

/* Medium screens (>= 768px and < 1200px) */
@media (min-width: 768px) and (max-width: 1199px) {
  .navbar-links {
    margin-left: auto; /* Push the links to the far right */
  }

  .navbar-links a {
    margin: 0 15px;
    font-size: 14px;
  }

  .logo {
    width: 140px; /* Adjust as needed */
    height: auto;
  }
}

/* Small screens (< 768px) */
@media (max-width: 767px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-left {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 120px;
    height: auto;
    margin-right: 10px;
  }

  .navbar-links {
    position: absolute;
    top: 50px; /* Adjust this value if needed */
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    padding: 10px 0;
    display: none;
  }

  .navbar-links a {
    margin: 10px 20px;
    font-size: 16px;
    color: #100C08;
  }

  .navbar-links.open {
    display: flex;
  }

  .hamburger {
    display: block;
    margin-right: 20px; /* Adjust this value if needed */
  }
}

/* Extra small screens (<= 375px) */
@media (max-width: 375px) {
  .logo {
    width: 100px;
    height: auto;
    margin-right: 10px;
  }

  .navbar-links a {
    margin: 10px 15px;
    font-size: 14px;
  }
}
