/* Default styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6a32c9;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 150px;
  height: auto;
  margin-right: 0px;
}

.navbar-links {
  display: flex;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 14px;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 24px; /* Adjust font size as needed */
  color: white;
}

/* Media queries for responsiveness */

/* Large screens (>= 1200px) */
@media (min-width: 1200px) {
  .navbar {
    padding: 15px 30px;
  }

  .navbar-links a {
    margin: 0 20px;
    font-size: 12px;
    margin-right: 20px;
  }

  
  .logo {
    width: 120px;
    height: auto;
  }
}

/* Medium screens (>= 768px and < 1200px) */
@media (min-width: 768px) and (max-width: 1199px) {
  .navbar {
    padding: 15px 30px;
  }

  .navbar-links a {
    margin: 0 20px;
    font-size: 12px;
  }

  .logo {
    width: 120px;
    height: auto;
  }
}

/* Small screens (< 768px) */
@media (min-width: 375px) and (max-width: 767px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-left {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 120px;
    height: auto;
    margin-right: 10px;
  }

  .navbar-links {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    background-color: #6a32c9;
    padding: 10px 0;
    display: none;
  }

  .navbar-links a {
    margin: 10px 20px;
    font-size: 16px;
    color: white;
  }

  .navbar-links.open {
    display: flex;
  }

  .hamburger {
    margin-left: 0px;
    display: block;
  }
}

/* Extra small screens (<= 375px) */
@media (max-width: 375px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-left {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 120px;
    height: auto;
    margin-right: 10px;
  }

  .navbar-links {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    background-color: #6a32c9;
    padding: 10px 0;
    display: none;
  }

  .navbar-links a {
    margin: 10px 20px;
    font-size: 16px;
    color: white;
  }

  .navbar-links.open {
    display: flex;
  }

  .hamburger {
    margin-left: 50px;
    display: block;
  }
}
